<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Camp</title>
</head>

<body>
    <h1>Add A Campground</h1>
    <form action="/campground" method="POST">
        <label for="title">Campground Name</label>
        <input type="text" name="title" id="title" placeholder="camp name">
        <label for="location">Location </label>
        <input type="text" id="location" name="location" placeholder="location">
        <button>Submit</button>
    </form>
    

</body>
<footer><a href="/campground">All campground</a></footer>

</html>